# Stack Overflow Annual Developer Survey 2020
## Analyse Minorities Answers 


This is a project 1 from Udacity Data Scients Nanodegree, the gol is to find out about this questions:


* How minorities breaks IT fields 
* Company values, size and Job satisfaction 
* On-boarding Process, Job Hunt Factors

Data Source: [https://insights.stackoverflow.com/survey/]

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

df = pd.read_csv('./developer_survey_2020/survey_results_public.csv')
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [3]:
schema = pd.read_csv('./developer_survey_2020/survey_results_schema.csv')
schema

                Column                                       QuestionText
0           Respondent  Randomized respondent ID number (not in order ...
1           MainBranch  Which of the following options best describes ...
2             Hobbyist                            Do you code as a hobby?
3                  Age  What is your age (in years)? If you prefer not...
4           Age1stCode  At what age did you write your first line of c...
..                 ...                                                ...
56  WebframeWorkedWith  Which web frameworks have you done extensive d...
57       WelcomeChange  Compared to last year, how welcome do you feel...
58         WorkWeekHrs  On average, how many hours per week do you wor...
59           YearsCode  Including any education, how many years have y...
60        YearsCodePro  NOT including education, how many years have y...

[61 rows x 2 columns]

In [4]:
schema[schema["Column"].str.contains("Ethni")]

       Column                                       QuestionText
16  Ethnicity  Which of the following describe you, if any? P...

In [12]:
df[['Country', 'Ethnicity', 'Gender']].value_counts().head(50)

Country             Ethnicity                                            Gender
United States       White or of European descent                         Man       6795
Germany             White or of European descent                         Man       2597
India               South Asian                                          Man       2465
United Kingdom      White or of European descent                         Man       2460
France              White or of European descent                         Man       1097
Canada              White or of European descent                         Man       1096
Poland              White or of European descent                         Man        948
Netherlands         White or of European descent                         Man        838
Italy               White or of European descent                         Man        808
United States       White or of European descent                         Woman      723
Russian Federation  White or of European descent                         Man        690
Australia           White or of European descent                         Man        646
Sweden              White or of European descent                         Man        608
Spain               White or of European descent                         Man        559
Brazil              White or of European descent                         Man        512
Switzerland         White or of European descent                         Man        435
Romania             White or of European descent                         Man        396
Nigeria             Black or of African descent                          Man        388
India               Southeast Asian                                      Man        382
Austria             White or of European descent                         Man        382
Czech Republic      White or of European descent                         Man        378
United States       South Asian                                          Man        338
Ukraine             White or of European descent                         Man        337
Belgium             White or of European descent                         Man        319
Mexico              Hispanic or Latino/a/x                               Man        316
Brazil              Hispanic or Latino/a/x                               Man        305
United States       Hispanic or Latino/a/x                               Man        291
Iran                Middle Eastern                                       Man        290
Norway              White or of European descent                         Man        276
Denmark             White or of European descent                         Man        272
Greece              White or of European descent                         Man        268
Hungary             White or of European descent                         Man        268
United Kingdom      White or of European descent                         Woman      266
Ireland             White or of European descent                         Man        263
Pakistan            South Asian                                          Man        260
South Africa        White or of European descent                         Man        252
Finland             White or of European descent                         Man        251
United States       East Asian                                           Man        244
Portugal            White or of European descent                         Man        244
India               East Asian                                           Man        234
Bangladesh          South Asian                                          Man        233
Bulgaria            White or of European descent                         Man        216
New Zealand         White or of European descent                         Man        205
Serbia              White or of European descent                         Man        204
Indonesia           Southeast Asian                                      Man        201
Turkey              White or of European descent                         Man        201
Kenya               Black or of African descent                          Man        179
Colombia            Hispanic or Latino/a/x                               Man        174
United States       Hispanic or Latino/a/x;White or of European descent  Man        174
Philippines         Southeast Asian                                      Man        171
dtype: int64

#### Check nulls quality

In [6]:
np.sum(df['Ethnicity'].isnull())/df.shape[0]

0.2871969097593894

In [7]:
np.sum(df['Gender'].isnull())/df.shape[0]

0.21569631249903043

In [62]:
# Remove nulls in the mains colununs 
df_dropnan = df.dropna(subset=['Ethnicity','Gender'])

In [67]:
df_dropnan[['Ethnicity','Gender']].value_counts()

Ethnicity                                                                                                                                                                     Gender
White or of European descent                                                                                                                                                  Man                                                  26596
South Asian                                                                                                                                                                   Man                                                   4126
White or of European descent                                                                                                                                                  Woman                                                 2104
Hispanic or Latino/a/x                                                                                                                                                        Man                                                   2061
Southeast Asian                                                                                                                                                               Man                                                   1496
                                                                                                                                                                                                                                   ...
Black or of African descent;Indigenous (such as Native American, Pacific Islander, or Indigenous Australian)                                                                  Man                                                      1
Black or of African descent;White or of European descent;Indigenous (such as Native American, Pacific Islander, or Indigenous Australian)                                     Non-binary, genderqueer, or gender non-conforming        1
East Asian;Multiracial;Southeast Asian                                                                                                                                        Man                                                      1
Black or of African descent;Hispanic or Latino/a/x;White or of European descent;Indigenous (such as Native American, Pacific Islander, or Indigenous Australian);Multiracial  Woman                                                    1
Black or of African descent;Indigenous (such as Native American, Pacific Islander, or Indigenous Australian)                                                                  Woman;Man                                                1
Length: 341, dtype: int64

## % of White  Man respondents

In [9]:
df_dropnan[(df_dropnan['Ethnicity'].str.contains("White")  &  df_dropnan['Gender'].str.contains("Man"))].shape[0]/df_dropnan.shape[0]

0.627027264925291

In [10]:
# Not White Man respondents 
df_minority = df_dropnan[~(df_dropnan['Ethnicity'].str.contains("White")  &  df_dropnan['Gender'].str.contains("Man"))]

In [11]:
df_minority.groupby(['Ethnicity', 'Gender']).Respondent.count().sort_values(ascending=False).head(30)

Ethnicity                                                                         Gender
South Asian                                                                       Man                                                        4126
White or of European descent                                                      Woman                                                      2104
Hispanic or Latino/a/x                                                            Man                                                        2061
Southeast Asian                                                                   Man                                                        1496
Black or of African descent                                                       Man                                                        1480
Middle Eastern                                                                    Man                                                        1456
East Asian                                                                        Man                                                        1443
Multiracial                                                                       Man                                                         253
South Asian                                                                       Woman                                                       242
White or of European descent                                                      Non-binary, genderqueer, or gender non-conforming           239
East Asian                                                                        Woman                                                       177
Black or of African descent                                                       Woman                                                       174
Hispanic or Latino/a/x                                                            Woman                                                       162
Southeast Asian                                                                   Woman                                                       142
Middle Eastern                                                                    Woman                                                       129
Biracial                                                                          Man                                                         122
South Asian;Southeast Asian                                                       Man                                                          76
White or of European descent                                                      Woman;Non-binary, genderqueer, or gender non-conforming      61
East Asian;Southeast Asian                                                        Man                                                          59
Hispanic or Latino/a/x;White or of European descent                               Woman                                                        50
Indigenous (such as Native American, Pacific Islander, or Indigenous Australian)  Man                                                          50
East Asian;South Asian                                                            Man                                                          48
Hispanic or Latino/a/x;Multiracial                                                Man                                                          47
Black or of African descent;Hispanic or Latino/a/x                                Man                                                          39
Black or of African descent;Middle Eastern                                        Man                                                          23
Multiracial                                                                       Woman                                                        22
Hispanic or Latino/a/x;Biracial                                                   Man                                                          21
Middle Eastern;White or of European descent                                       Woman                                                        21
East Asian;Middle Eastern                                                         Man                                                          21
Biracial                                                                          Woman                                                        20
Name: Respondent, dtype: int64

Now we can see a diferente mojority like South Asian guys in India, them we will remove the major ethnicity in each country. But we want to listening every woman who's not to be a excluded

In [50]:
# Top Ethnicity in each country 
df_country_top_ethnicity = df_dropnan.groupby(['Country', 'Ethnicity'], as_index = False)['Respondent'].count()
df_country_top_ethnicity = df_country_top_ethnicity.sort_values(['Respondent'], ascending = False).groupby(['Country'], as_index=False).head(1)
df_country_top_ethnicity.head(20)

                 Country                     Ethnicity  Respondent
1353       United States  White or of European descent        7684
465              Germany  White or of European descent        2781
1241      United Kingdom  White or of European descent        2767
541                India                   South Asian        2610
247               Canada  White or of European descent        1216
420               France  White or of European descent        1192
931               Poland  White or of European descent         994
815          Netherlands  White or of European descent         905
624                Italy  White or of European descent         837
977   Russian Federation  White or of European descent         751
57             Australia  White or of European descent         724
1103              Sweden  White or of European descent         641
1070               Spain  White or of European descent         598
196               Brazil  White or of European descent         541
964              Romania  White or of European descent         458
1123         Switzerland  White or of European descent         455
845              Nigeria   Black or of African descent         421
77               Austria  White or of European descent         411
325       Czech Republic  White or of European descent         386
1205             Ukraine  White or of European descent         365

In [87]:
# Gender distribution 
df_dropnan['Gender'].value_counts()#/df_dropnan.shape[0]

Man                                                            41441
Woman                                                           3398
Non-binary, genderqueer, or gender non-conforming                340
Man;Non-binary, genderqueer, or gender non-conforming            111
Woman;Non-binary, genderqueer, or gender non-conforming           86
Woman;Man                                                         48
Woman;Man;Non-binary, genderqueer, or gender non-conforming       19
Name: Gender, dtype: int64

In [107]:
df_dropnan[df_dropnan['Gender'].str.fullmatch("^man" , flags = 2)]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
5,6,I am a developer by profession,No,NaN,14,NaN,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64430,61111,NaN,Yes,38.0,35,NaN,NaN,NaN,Israel,NaN,...,Easy,Appropriate in length,No,NaN,React.js,ASP.NET Core;Django;React.js,Somewhat more welcome now than last year,NaN,3,NaN
64432,61490,NaN,Yes,NaN,14,NaN,NaN,NaN,United Kingdom,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Ruby on Rails,Flask;jQuery;Vue.js,Just as welcome now as I felt last year,NaN,13,NaN
64433,61561,NaN,Yes,64.0,18,NaN,NaN,NaN,France,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",Angular.js;jQuery;React.js;Vue.js,jQuery,A lot more welcome now than last year,NaN,30,NaN
64437,61983,NaN,Yes,NaN,25,NaN,NaN,NaN,Pakistan,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Django;Flask,NaN,NaN,NaN,Less than 1 year,3
64441,62834,NaN,Yes,17.0,10,NaN,NaN,NaN,Canada,NaN,...,Easy,Appropriate in length,No,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,7,NaN

In [118]:
# DataFrame withought top ethnicity mans in each country

#Merge df_dropnan and df_country_top_ethnicity
majoritary = pd.merge(df_dropnan, df_country_top_ethnicity, how = "left", on = ['Country', 'Ethnicity'])

# Gender start with man  and has in top ethnicity in country 
majoritary = majoritary[ majoritary['Gender'].str.fullmatch("^man" , flags = 2) & (~ pd.isna(majoritary['Respondent_y'])) ]

In [131]:
majoritary[['Country', 'Ethnicity', 'Gender']].value_counts().head(50)

Country             Ethnicity                     Gender
United States       White or of European descent  Man       6795
Germany             White or of European descent  Man       2597
India               South Asian                   Man       2465
United Kingdom      White or of European descent  Man       2460
France              White or of European descent  Man       1097
Canada              White or of European descent  Man       1096
Poland              White or of European descent  Man        948
Netherlands         White or of European descent  Man        838
Italy               White or of European descent  Man        808
Russian Federation  White or of European descent  Man        690
Australia           White or of European descent  Man        646
Sweden              White or of European descent  Man        608
Spain               White or of European descent  Man        559
Brazil              White or of European descent  Man        512
Switzerland         White or of European descent  Man        435
Romania             White or of European descent  Man        396
Nigeria             Black or of African descent   Man        388
Austria             White or of European descent  Man        382
Czech Republic      White or of European descent  Man        378
Ukraine             White or of European descent  Man        337
Belgium             White or of European descent  Man        319
Mexico              Hispanic or Latino/a/x        Man        316
Iran                Middle Eastern                Man        290
Norway              White or of European descent  Man        276
Denmark             White or of European descent  Man        272
Greece              White or of European descent  Man        268
Hungary             White or of European descent  Man        268
Ireland             White or of European descent  Man        263
Pakistan            South Asian                   Man        260
South Africa        White or of European descent  Man        252
Finland             White or of European descent  Man        251
Portugal            White or of European descent  Man        244
Bangladesh          South Asian                   Man        233
Bulgaria            White or of European descent  Man        216
New Zealand         White or of European descent  Man        205
Serbia              White or of European descent  Man        204
Turkey              White or of European descent  Man        201
Indonesia           Southeast Asian               Man        201
Kenya               Black or of African descent   Man        179
Colombia            Hispanic or Latino/a/x        Man        174
Philippines         Southeast Asian               Man        171
Israel              White or of European descent  Man        161
China               East Asian                    Man        159
Sri Lanka           South Asian                   Man        144
Croatia             White or of European descent  Man        140
Slovakia            White or of European descent  Man        139
Egypt               Middle Eastern                Man        138
Lithuania           White or of European descent  Man        129
Argentina           Hispanic or Latino/a/x        Man        127
Viet Nam            Southeast Asian               Man        125
dtype: int64

In [134]:
# Minority is not in majority dataframe
diversity = df_dropnan[~df_dropnan['Respondent'].isin(majoritary['Respondent_x'])]
diversity [['Respondent', 'Country', 'Ethnicity', 'Gender']].head(50)

,Respondent,Country,Ethnicity,Gender
19,20,Spain,Hispanic or Latino/a/x,Man
24,25,Portugal,Hispanic or Latino/a/x,Man
25,26,Canada,East Asian,Man
27,28,China,Black or of African descent,Man
30,31,Russian Federation,East Asian,Man
34,35,United States,White or of European descent,Woman
36,37,France,Middle Eastern,Man
39,40,United States,Hispanic or Latino/a/x,Woman
52,53,United States,East Asian,Man
53,54,United States,White or of European descent;Indigenous (such ...,Man
54,55,United States,Black or of African descent,Man
55,56,United States,White or of European descent,Woman
58,59,Brazil,Hispanic or Latino/a/x,Man
78,79,Canada,"Indigenous (such as Native American, Pacific I...",Man
79,80,United States,Hispanic or Latino/a/x;White or of European de...,Man
84,85,United States,White or of European descent,Woman
87,88,Canada,East Asian,Woman
88,89,United States,White or of European descent,Woman
90,92,France,Multiracial,Man
95,97,Canada,White or of European descent,Woman
98,100,United States,White or of European descent,"Man;Non-binary, genderqueer, or gender non-con..."
105,107,United States,White or of European descent,Woman
107,109,United States,Hispanic or Latino/a/x;White or of European de...,Man
108,110,United States,South Asian,Man
109,111,Germany,Middle Eastern,Woman
110,112,United States,South Asian,Man
119,121,United States,East Asian;White or of European descent,Man
125,127,United States,White or of European descent,Woman
126,128,United States,White or of European descent,Woman
127,129,United States,South Asian,Man
130,132,Spain,Biracial,Man
133,135,United States,Hispanic or Latino/a/x;Middle Eastern;White or...,Man
136,138,United States,Southeast Asian,Man
137,139,United States,White or of European descent,Woman
140,142,United States,Hispanic or Latino/a/x,Man
147,149,India,East Asian,Man
155,157,Canada,South Asian,Man
156,158,United States,Hispanic or Latino/a/x,Man
160,162,Canada,South Asian,Man
167,169,United States,East Asian;White or of European descent;Biracial,Man
171,173,Nepal,Southeast Asian,Man
173,175,Netherlands,Middle Eastern,Man
176,178,Canada,Hispanic or Latino/a/x,Man
180,182,Germany,Middle Eastern,Man
188,190,Uruguay,White or of European descent,Man
190,192,United States,Middle Eastern,Man
194,196,United States,South Asian,Man
197,199,Canada,White or of European descent,Woman
209,211,United States,White or of European descent,"Non-binary, genderqueer, or gender non-conforming"
214,216,France,Black or of African descent,Man

Now we can see diversity in the diversity dataframe. 
To recap, now we will see the answers from the not man and dominant ethnicity in country in other words we selected every Womans and not binary gender and mans not dominant ethnicity

In [ ]:
#Find questions to diversity people mettes to select companys to work.